<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="runningtracker">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name="com.example.minhtri.running.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_athletics"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />

        <activity android:name="com.example.minhtri.running.view.running.ResultActivity" />
        <activity android:name=".view.main.MainActivityHome" />
        <activity android:name="com.example.minhtri.running.view.running.MainActivity" />
        <activity android:name="com.example.minhtri.running.view.running.MainActivityOffline" />
        <activity android:name="com.example.minhtri.running.view.main.WeatherSuggestion" />
        <activity android:name="com.example.minhtri.running.ui.suggest_place.suggest_place" />
        <activity android:name="com.example.minhtri.running.ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.minhtri.running.ui.register.RegisterActivity" />
        <activity android:name="com.example.minhtri.running.ui.home.HomeActivity" />
        <activity android:name="com.example.minhtri.running.ui.profile.ProfileActivity" />
        <activity android:name="com.example.minhtri.running.ui.notification.NotificationsActivity" />

        <service
            android:name="com.example.minhtri.running.locationaddress.FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name="com.example.minhtri.running.ui.friends.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>